:root{
    --p-s-color: #e1dd7266;
    --p-color: #e1dd72;
    --s-color: #a8c66c;
    --t-color: #1b6535;
}

@font-face {
    font-family: 'Bamboo Gothic';
    src: url('https://fonts.cdnfonts.com/css/bamboo-gothic');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    cursor: url('assets/baguettes.ico'), pointer ;
    background-color: var(--s-color);
    font-family:'Segoe Script', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


#landing{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--s-color);
    width: 100%;
    height: 100vh;
    z-index: 100;
}

#landing h1{
    color: var(--p-color);
    opacity: 0;
    animation: animate 1s ease-in-out .2s reverse forwards;
    line-height: 25vh;
}

#landing h1 div{
    text-align: center;
}

#landing h1 svg{
    display: block;
    width: 100%;
    transform: scale(2);
}

.landing-animate{
    animation: landing-animate 1.3s cubic-bezier(0.54, -0.3, 0.17, 1.02) .5s forwards;
}

@keyframes landing-animate{
    to{
        height: 0vh;
    }
}

@keyframes animate {
    to{
        opacity: 1;
        transform: none;
    }
}

body{
    text-transform: capitalize;
}

h1{
    font-family: 'Bamboo Gothic', 'consolas',  sans-serif;
    font-size: 6vw;
}

main header{
    height: 100vh;
    width: 100%;
}

main #overlay{
    position: absolute;
    background: url('assets/images/baguettes.jpg') no-repeat left;
    background-size: cover;
    filter: saturate(.6);
    z-index: -2;
    height: 100vh;
    width: 100%;
}

header nav{
    position: fixed;
    margin: 0 calc(25vw / 2);
    line-height: 10vh;
    width: calc(100vw*.75);
    background-color:var(--s-color);
    transition: background .2s ease-in-out;
    transform: translateY(-120vh);
    animation: animate 1.5s ease-in-out 1.7s forwards;
    z-index: 1000;
}


header nav ul{
    display: flex;
    gap: 1vw;
    justify-content:space-around;
    list-style-type: none;
}

header nav li:first-child{
    transform: translateY(2vh) scale(2.8);
}

header nav a{
    display: inline-block;
    text-decoration: none;
    font-weight: bolder;
    transition: all ease .4s;
    color: #f1f1f1;
}

header nav a:hover{
    transition: all ease .4s;
    transform: scale(1.1);
    color: #222;
    animation: animateMedias .1s linear 2 alternate;
}

header nav li:first-child a:hover{
    animation: none;
}

header button{
    cursor: pointer;
}

header #cta{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header #player{
    position: fixed;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    z-index: 10;
    background-color: var(--s-color);
    border: .5px solid var(--p-color);
    animation: pulsing 1.4s linear infinite;
}

header #player::after{
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--p-color);
    top: 0;
    left: 0;
}

header #player:hover::after{
    animation: pulse 1.4s infinite ease-out;
}


@keyframes pulse {
    to{
        transform: scale(1.4);
        opacity: 0;
    }
}

#title {
    display: flex;
    height: calc(100vh);
    justify-content: center;
    align-items: center;
    color: #fefefe;
    text-shadow: 5px 5px 20px black;

}

#typewrite{
    position: relative;
    color: var(--p-color);
}

#typewrite::after{
    content: '';
    width: 1px;
    border-radius: 3px;
    border-right: 3px solid var(--p-color);
    margin-left: 0.5vw;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#hours{
    display: flex;
    align-items: center;
    color: transparent;
    overflow: hidden;
    position: relative;
    padding-top: 8vh;
    top: -1vh;
    color: var(--t-color);
}

#marquee{
    font-size: 6vw;
    white-space: nowrap;
    animation: marquee 9.5s infinite cubic-bezier(0.22, -0.54, 0.62, 1.56);
}

#marquee:after{
    content: ' - OUVERT TOUS LES JOURS ENTRE 8H ET 22H';
}

@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

#marquee span{
    display: inline-block;
    width: 10vw;
    text-align: center;
    transform: translateX(-2vh);
    color: #333;
    animation: animate 1s infinite linear alternate;
}

@keyframes animateSpan {
   to{
        transform: scale(1.2);
    }
}

/* STYLES DE LA SECTION MENU */

#menus{
    /* height: 100vh; */
    background-color: var(--p-s-color);
    width: 100%;
    padding: 8vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}



#menus #categoriesmenu{
    display: flex;
    line-height: 5vh;
    justify-content: space-evenly;
    text-transform: capitalize;
    font-weight: bold;
    background: linear-gradient(to left, var(--p-color), var(--p-s-color));
    color: #333;
    font-size: 1.7vw;
}

#menus #categoriesmenu li{
    text-transform: uppercase;
    color: var(--t-color);
}


/* STYLES DE LA SECTION CONTACT */
#contact{
    height: 30vh;
    width: 100%;
    padding-bottom: 8vh;
}

#contact #medias{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 40vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 20vh;
}

#medias div a{
    width: 125px;
    height: 125px;
    background: url('assets/rs.png');
    background-size: cover;
    display: inline-block;
}

#medias div:nth-child(1) a{
    background-position: center ;
}

#medias div:nth-child(2) a{
    background-position: 0 0;
}

#medias div:nth-child(3) a{
    background-position: 500px 0 ;
}

#contact #medias div:hover{
    animation: animateMedias .1s linear 2 alternate;
}

@keyframes animateMedias{
    0%{
        /* transform: rotate(5deg); */
        transform: translateX(1vw);
    }
    25%{
        /* transform: rotate(-5deg); */
        transform: translateX(-2vw);
    }
    57%{
        transform: translateX(-1vw);
    }
    89%{
        transform: translateX(1.8vw);
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column{
    flex: 50%;
    padding: 0 4px;
    /* background: red; */
    height: 150vh;
}

.column div{
    width: 100%;
    height: 30%;
    margin-top: 1vw;
    filter: blur(0.1rem);
}

.column div:hover{
    filter: none;
}

.column div p{
    height: 100%;
    color: #f1f1f1;
    background: linear-gradient(#333, transparent);
    display: none;
    opacity: 0;
    padding: 2vh;
    text-align: justify;
    transition: all 3s ease-in-out;
}

.column div:hover p{
    display: block;
    opacity: 1;
    transition: all .5s ease-in-out;
}

.column:first-child div:first-child{
    background: url('assets/images/miso.jpg') no-repeat center;
    background-size: cover;
}

.column:first-child div:first-child + div{
    background: url('assets/images/gourmand.jpg') no-repeat center;
    background-size: cover;
}

.column:first-child div:last-child{
    background: url('assets/images/avocat.jpg') no-repeat center;
    background-size: cover;
}

.column:last-child{
    /* height: max-content; */
}

.column:last-child div:first-child{
    background: url('assets/images/pattes.jpg') no-repeat center;
    background-size: cover;
}

.column:last-child div:first-child + div{
    background: url('assets/images/sushi.jpg') no-repeat center;
    background-size: cover;
}

footer{
    text-align: center;
}


@media only screen and (width < 701px){

    *{
        scroll-padding-top: 10vh;
    }

    #greetings{
        transform: scale(2);
    }

    header nav{
        position: fixed;
        width: 100vw;
        margin: 0;
    }

    header nav:hover{
        background-color: var(--s-color);
    }

    header nav li:nth-child(1) a{
        transform: translateY(2vh) scale(4);
        line-height: 1.5vh;
        /* background-color: #1b6535; */
        box-shadow: 1px -3px 2px 1px var(--p-color);
    }


    header nav:hover li:nth-child(2),
    header nav:hover li:nth-child(3){
        display: block;
    }

    header nav ul{
        flex-direction: column;
        text-align: center;
    }

    header nav li:hover{
        background-color: var(--p-s-color);
    }

    header nav li:first-child{
        transform: none;
    }

    header nav li:nth-child(2),
    header nav li:nth-child(3){
        display: none;
    }

    header #player{
        height: 13vw;
        width: 13vw;  
    }
    /* STYLES DE LA SECTION MENU */

    #menus{
        width: 100%;
        padding: 4vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    #menus #categoriesmenu{
        flex-direction: column;
        line-height: 5vh;
        padding: 0 0 0 3vw;
        justify-content: space-between;
        text-transform: capitalize;
        background: linear-gradient(to left, var(--p-color), var(--p-s-color));
        color: #333;
        font-size: 3vw;
    }

    #hours{
        padding: 4vh;
    }

    .column{
        flex: 100%;
    }

    .column:nth-child(2){
        height: 100vh;
    }

    #contact #medias{
        width: 90vw;
    }

    #contact #medias div{
        width: 12vw;
    }

    #medias div a{
        width: 50px;
        height: 50px;
    }
}